input {
    {%- if "log" in LS_INPUT %}
    file {
        path => ["{{ LS_LOG_VOL }}/{{ LS_PATTERN }}"]
        start_position => "beginning"
    }
    {%- endif %}
}

filter {
    {%- if "log" in LS_INPUT %}
    # exclude empty and whitespace lines
    if [message] != "" and [message] !~ /^[\s]*$/ {
        json { source => "message" }
    }
    if (![tags]) {
        fingerprint {
            target => "[@metadata][ES_DOCUMENT_ID]"
            source => ["level", "text"]
            concatenate_sources => true
            key => "any-long-encryption-key"
            method => "SHA1"    # return the same hash if all values of source fields are equal
        }
    }
    {%- endif %}
}

output {
    {%- if "elasticsearch" in LS_OUTPUT %}
    if (![tags]) {
        elasticsearch {
           hosts => {{ ES_HOSTS }}
           {%- if ES_USER and ES_PASSWORD %}
           user => "{{ ES_USER }}"
           password => "{{ ES_PASSWORD }}"
           {%- endif %}
           {%- if "elasticsearch" in LS_OUTPUT or "document" in LS_OUTPUT %}
           index => "{{ ES_INDEX }}"
           document_type => "{{ ES_DOCUMENT_TYPE }}"
           document_id => "%{[@metadata][ES_DOCUMENT_ID]}"
           {%- endif %}
        }
    }
    {%- endif %}
    {%- if "log" in LS_OUTPUT or "info" in LS_OUTPUT %}
    if (![tags]) {
            file {
                path => "{{ LS_LOG_VOL }}/{{ LS_INFO }}"
                codec => "json"   # cannot be changed
            }
    }
    {%- endif %}

    {%- if "log" in LS_OUTPUT or "error" in LS_OUTPUT %}
    if [tags] {
        file {
            path => "{{ LS_LOG_VOL }}/{{ LS_ERROR }}"
            codec => "json"    # cannot be changed
        }
    }
    {%- endif %}
}
