input {
    {%- if "log" in LS_INPUT %}
    file {
        path => ["{{ LS_LOG_VOL }}/{{ LS_PATTERN }}"]
        start_position => "beginning"
    }
    {%- endif %}
}

filter {
    {%- if "log" in LS_INPUT %}
    # exclude empty and whitespace lines
    if [message] != "" and [message] !~ /^[\s]*$/ {
        json { source => "message" }
    }
    {%- endif %}
}

output {
    {%- if "elasticsearch" in LS_OUTPUT %}
    if (![tags]) {
        elasticsearch {
           hosts => {{ ES_HOSTS }}
           {%- if ES_USER and ES_PASSWORD %}
           user => "{{ ES_USER }}"
           password => "{{ ES_PASSWORD }}"
           {%- endif %}
           {%- if "elasticsearch" in LS_OUTPUT or "document" in LS_OUTPUT %}
           index => "{{ ES_INDEX }}"
           document_type => "{{ ES_DOCUMENT_TYPE }}"
           document_id => "%{[@metadata][ES_DOCUMENT_ID]}"
           {%- endif %}
        }
    }
    {%- endif %}
    {%- if "log" in LS_OUTPUT or "info" in LS_OUTPUT %}
    if (![tags]) {
            file {
                path => "{{ LS_LOG_VOL }}/{{ LS_INFO }}"
                codec => "json"   # cannot be changed
            }
    }
    {%- endif %}

    {%- if "log" in LS_OUTPUT or "error" in LS_OUTPUT %}
    if [tags] {
        file {
            path => "{{ LS_LOG_VOL }}/{{ LS_ERROR }}"
            codec => "json"    # cannot be changed
        }
    }
    {%- endif %}
}
